* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(245, 245, 245);
    font-family: "Microsoft YaHei UI";
    -webkit-font-smoothing: antialiased;
}
a {
    color: #000000;
    text-decoration: none;
}
ul li {
    float: left;
    list-style-type: none;
}
.w {
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 5px 5px gray;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.trans li {
    transition: all .3s;
}
.trans li a {
    transition: all .3s;
}